In [3]:
import pandas as pd 

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False],
]

df_list = pd.DataFrame(data_list, columns=['Jenis', 'Berat (kg)', 'Apakah Bisa di Daur Ulang?'])
df_list

     Jenis  Berat (kg)  Apakah Bisa di Daur Ulang?
0  Plastik           5                        True
1   Kertas           2                        True
2    Logam           3                        True
3     Kaca           4                       False

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\msi\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import numpy as np

data_array = np.array([['Plastik', 5, True], 
                    ['Kertas', 2, True], 
                    ['Logam', 3, True], 
                    ['Kaca', 4, False]])

df_array = pd.DataFrame(data_array, columns=['Jenis', 'Berat (kg)', 'Apakah Bisa di Daur Ulang?'])
df_array

     Jenis Berat (kg) Apakah Bisa di Daur Ulang?
0  Plastik          5                       True
1   Kertas          2                       True
2    Logam          3                       True
3     Kaca          4                      False

In [9]:
data_kamus = {
    'Jenis': ['Plastik', 'Kertas', 'Logam', 'Kaca'],
    'Berat (kg)' : [5, 2, 3, 4],
    'Daur Ulang' : ['True', 'True', 'True', 'False']
}

df_kamus = pd.DataFrame(data_kamus)
df_kamus

     Jenis  Berat (kg) Daur Ulang
0  Plastik           5       True
1   Kertas           2       True
2    Logam           3       True
3     Kaca           4      False

In [11]:
df_list.to_csv('coba.csv', index=False)

In [13]:
df_kamus.to_excel('coba.xlsx', index=False)

In [ ]:
df_csv = pd.read_csv('coba.csv')
df_csv

     Jenis  Berat (kg)  Apakah Bisa di Daur Ulang?
0  Plastik           5                        True
1   Kertas           2                        True
2    Logam           3                        True
3     Kaca           4                       False

In [ ]:
# Mengakses kolom
filter_kolom = df_csv['Jenis']

print(f"{filter_kolom}")

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [18]:
# Mengakses baris
a = df_csv.loc[:, 'Berat (kg)']
b = df_csv.loc[3, :]

print(a)
print(b)

0    5
1    2
2    3
3    4
Name: Berat (kg), dtype: int64
Jenis                          Kaca
Berat (kg)                        4
Apakah Bisa di Daur Ulang?    False
Name: 3, dtype: object

In [21]:
a = 2
print(df_array.iloc[a])

Jenis                         Logam
Berat (kg)                        3
Apakah Bisa di Daur Ulang?     True
Name: 2, dtype: object

In [ ]:
print(df_array.iloc[-1])

#iloc itu index location, jadi kita bisa mengakses data di index tertentu

Jenis                          Kaca
Berat (kg)                        4
Apakah Bisa di Daur Ulang?    False
Name: 3, dtype: object

In [24]:
print(df_csv.iloc[0:3, 0:2])

     Jenis  Berat (kg)
0  Plastik           5
1   Kertas           2
2    Logam           3

In [25]:
for index, row in df_csv.iterrows():
    print(f'baris ke {index + 1} adalah : {row ['Jenis']}')

baris ke 1 adalah : Plastik
baris ke 2 adalah : Kertas
baris ke 3 adalah : Logam
baris ke 4 adalah : Kaca

In [30]:
# Menampilkan jenis sampah yang bisa di daur ulang
for index, row in df_csv.iterrows():
    if row['Apakah Bisa di Daur Ulang?'] == True:
        print(f'Jenis sampah yang dapat di daur ulang: {row ['Jenis']}')
    else:
        print(f'Jenis sampah yang tidak dapat di daur ulang: {row ['Jenis']}')

Jenis sampah yang dapat di daur ulang: Plastik
Jenis sampah yang dapat di daur ulang: Kertas
Jenis sampah yang dapat di daur ulang: Logam
Jenis sampah yang tidak dapat di daur ulang: Kaca